<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body th:object="${promotingList}">

	<form th:object="${query}">
		<label>Name: </label>
		<input type="text" name="q" th:value="${query}">
		<br><br>
		<input type="submit" value="SEARCH">
	</form>
	
	<ul>
		<li
			th:each ="promoting : ${promotingList}"
			th:object="${promoting}"
			>
			<a th:href="@{ /promoting/{id} (id=*{id})}">
				[[*{title}]] 
			</a>
			<br>

			start date: [[*{startDate}]]

			end date: [[*{endDate}]]

		</li>
	</ul>
	<div th:if="${promotingList.size} == 0">
		<h1>No results</h1>

	</div>
	
</body>
</html>